# Firebase
EXPO_PUBLIC_FB_API_KEY=
EXPO_PUBLIC_FB_AUTH_DOMAIN=
EXPO_PUBLIC_FB_PROJECT_ID=
EXPO_PUBLIC_FB_STORAGE_BUCKET=
# Google
EXPO_PUBLIC_WEB_CLIENT_ID=
EXPO_PUBLIC_IOS_CLIENT_ID=
# Cloudinary
EXPO_PUBLIC_CD_NAME=
EXPO_PUBLIC_CD_UPLOAD_PRESET=